#masonry_container {
  /*width: 100%;*/
  /*height: 100%;*/
  padding: 10px;
  margin: 0 auto;
  margin-top: 15px;

}

html,body {
  height:100%;
}

body {
  /*background-color: #b0c4de;*/
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

#topbar {
  background-color: rgb(255, 255, 255);
  /*background-color: tomato;*/
  padding-top: 15px;
  padding-bottom: 15px;
}


.shadow {
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),
              inset 0 -1px 0 rgba(0,0,0,.07),
              0px 2px 3px rgba(0,0,0,0.2);
}

.item {
  display: inline-block;
  width: 300px;
  /*height: 50px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  /*background-color: tomato;*/
  
  /*border: solid transparent;
  border-width: 1px 1px 1px 1px;*/
  /*background-clip: padding-box;*/
}

.item > img {
  width: 100%;
}

.item > .headline {
  padding: 5px 15px 0px 15px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 2em;
}

.item > a, 
.item > .text {
  padding: 10px 15px 5px 15px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  position: relative;
}

.item > .footer {
  width: 100%;
  padding-bottom: 10px; 
}

.notecard-yellow  { background-color: #F1F14E; }
.notecard-red     { background-color: #F7846A; }
.notecard-blue    { background-color: #85D6E4; }
.notecard-green   { background-color: #C9EA5D; }


