<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Pensieve</title>
    
    <link rel="stylesheet" type="text/css" href="static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    
    <script src="static/js/modernizr.custom.js"></script>
    <script src="static/js/masonry.pkgd.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="main clearfix">
            <!-- Optional columns for small components -->
            <header><h1>Pensieve</h1></header>
            <div style="float: right; width: 100%;">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
            <div style="margin-top: 100px;">
                {% if query %}
                <h2>{{ results|length }} search results for {{ query }}</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="item-modal-overlay">
        <div class="item item-modal"></div>
    </div>

    <div id="masonry_container">
        {% if results %}
            {% for result in results %}
            <div id="{{result.filename}}" class="item shadow" value="{{result.filename}}">
                
                {% if results.image %}
                <div style="overflow: hidden; max-height: 10em;">
                    <img src="{{ result.image }}"></img>
                </div>
                {% endif %}

                {% if result.type == "article" %}
                <div class="headline" 
                    style="cursor: pointer;" 
                    onclick="window.location='{{ result.url }}';">{{ result.title }}</div>
                {% else %}
                <div class="headline">{{ result.title }}</div>
                {% endif %}

                <div class="articletext">{{ result.articletext }}</div>
                <div class="text" contenteditable="true" spellcheck="false" data-placeholder="Add Notes...">{{ result.text|nl2div }}</div>
                
                <div class="footer"></div>
            </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>

    <script src="static/js/classie.js"></script>
    <script src="static/js/uisearch.js"></script>
    <script>
        UISearch = new UISearch( document.getElementById( 'sb-search' ) );
        
        var overlay = document.getElementsByClassName("item-modal-overlay")[0];
        var modal = document.getElementsByClassName("item-modal")[0];
        var current_modal = null;
        
        var container = document.querySelector('#masonry_container');
        var msnry = new Masonry(container, {
            // options
            columnWidth: 300,
            itemSelector: '.item',

            gutter: 10,
            isFitWidth: true,
        });

        add_new_note = function() {
            var newitem = document.createElement('div');
            newitem.className = 'item shadow item-white';
            newitem.id = 'new';
            newitem.value = 'new';
            newitem.innerHTML = [
            '<div contenteditable="true" spellcheck="false" class="headline" data-placeholder="Add Title..."></div>',
            '<div contenteditable="true" spellcheck="false" class="text" data-placeholder="New Note..."></div>',
            '<div class="footer"></div>'].join('\n');
            container.insertBefore(newitem, container.firstChild);
            msnry.prepended([newitem]);
            msnry.layout();

            var text_elem = document.getElementById("new").getElementsByClassName("text")[0];
            var title_elem = document.getElementById("new").getElementsByClassName("headline")[0];
            text_elem.addEventListener('keydown', handle_keydown);
            text_elem.addEventListener('input', handle_keydown);
            title_elem.addEventListener('keydown', handle_keydown);
            title_elem.addEventListener('input', handle_keydown);
        }

        handle_keydown = function(e) {
            // handles showing the placeholder or nor
            if (this.textContent) {
                this.dataset.divPlaceholderContent = 'true';
            } else {
                delete(this.dataset.divPlaceholderContent);
            }
            if (!this.parentNode.value) {
                this.parentNode.value = this.parentNode.id;
            }
            if (this.textContent) {
                this.setAttribute('data-div-placeholder-content', 'true');
            }
            else {
                this.removeAttribute('data-div-placeholder-content');
            }
            
            // ON CTRL+SHIFT 1, 2, 3, 4, 5
            if (e.ctrlKey && e.shiftKey && e.keyCode > 48 && e.keyCode < 55) {
                classie.remove(this.parentNode, "item-orange")
                classie.remove(this.parentNode, "item-yellow");
                classie.remove(this.parentNode, "item-light-green")
                classie.remove(this.parentNode, "item-green")
                classie.remove(this.parentNode, "item-dark-green")
                classie.remove(this.parentNode, "item-white")
                if (e.keyCode == 49) classie.add(this.parentNode, "item-orange");
                if (e.keyCode == 50) classie.add(this.parentNode, "item-yellow");
                if (e.keyCode == 51) classie.add(this.parentNode, "item-light-green");
                if (e.keyCode == 52) classie.add(this.parentNode, "item-green");
                if (e.keyCode == 53) classie.add(this.parentNode, "item-dark-green");
                if (e.keyCode == 54) classie.add(this.parentNode, "item-white");
            }

            // if showing, get out
            if (e.keyCode == 27 && classie.has(overlay, "item-modal-overlay-show")) {
                modal_off(modal.getElementsByClassName("text")[0]);
            }

            // ON SHIFT-ENTER
            if (e.shiftKey && e.keyCode == 13) {
                if (classie.has(overlay, "item-modal-overlay-show")) {
                    modal_off(this);
                } else {
                    modal_on(this);
                }
            // DON'T DO SHIFT ENTER SAVE AND THEN AGAIN
            } else if (e.keyCode == 13 || e.type == "onblur") {
                save_item(this);
            }
        };

        modal_off = function(elem) {
            classie.remove(overlay, "item-modal-overlay-show");
            modal.getElementsByClassName("text")[0].removeEventListener('keydown', handle_keydown);
            modal.getElementsByClassName("text")[0].removeEventListener('input', handle_keydown);
            modal.getElementsByClassName("headline")[0].removeEventListener('keydown', handle_keydown);
            modal.getElementsByClassName("headline")[0].removeEventListener('input', handle_keydown);
            
            save_item(elem);

            // transfer changes back to original modal
            current_modal.innerHTML = modal.innerHTML;
            classie.remove(modal, "item-modal");
            current_modal.className = modal.className;
            classie.remove(modal, "item-orange")
            classie.remove(modal, "item-yellow");
            classie.remove(modal, "item-light-green")
            classie.remove(modal, "item-green")
            classie.remove(modal, "item-dark-green")

            // reset the event listerers
            current_modal.getElementsByClassName("text")[0].addEventListener('input', handle_keydown);
            current_modal.getElementsByClassName("text")[0].addEventListener('keydown', handle_keydown);
            current_modal.getElementsByClassName("headline")[0].addEventListener('keydown', handle_keydown);
            current_modal.getElementsByClassName("headline")[0].addEventListener('input', handle_keydown);

            // reset
            current_modal = null;
            modal.innerHTML = "";
            modal.className = "item-modal";
            modal.value = null;

        }
        
        modal_on = function(elem) {
            classie.add(overlay, "item-modal-overlay-show");
            
            current_modal = elem.parentNode;
            modal.className = "item-modal " + elem.parentNode.className;
            classie.remove(modal, "shadow");
            modal.innerHTML = elem.parentNode.innerHTML;

            modal.value = elem.parentNode.value;

            modal.getElementsByClassName("text")[0].addEventListener('keydown', handle_keydown);
            modal.getElementsByClassName("text")[0].addEventListener('input', handle_keydown);
            modal.getElementsByClassName("headline")[0].addEventListener('keydown', handle_keydown);
            modal.getElementsByClassName("headline")[0].addEventListener('input', handle_keydown);

            modal.addEventListener("onmouseleave", function() {
                console.log("success");
                modal_off(modal.getElementsByClassName("headline")[0]);
            })
            modal.getElementsByClassName("text")[0].focus();
        }

        save_item = function(elem) {
            console.log('saving...');
            if(elem.className.indexOf("headline") > 0) {
                // no new lines for titles
                e.preventDefault();
            } else {
                // refresh the layout for the enter that you just pushed
                msnry.layout();
            }

            var isnew = ((elem.parentNode.value == "new") ? true : false);
            var text = elem.parentNode.getElementsByClassName("text")[0].innerText;
            var title = elem.parentNode.getElementsByClassName("headline")[0].textContent;
            var color = elem.parentNode.className.split(" ").slice(-1)[0];
            console.log(elem.parentNode.className.split(" ").slice(-1)[0]);

            console.log(elem.parentNode.value);
            console.log(text);
            var data = {
                data: JSON.stringify({
                        id:     elem.parentNode.value,
                        isnew:  isnew,
                        title:  title,
                        text:   text,
                        color:  color,
                    })
            };

            $.ajax({
                url:"/update_note",
                type: 'POST',
                dataType: "json",
                data: data,
                success : function(data) {
                    if(isnew) {
                        elem.parentNode.id      = data.filename;
                        elem.parentNode.value   = data.filename;
                        add_new_note();
                        msnry.layout();
                    } else {
                        // just update
                    }

                }
            });
        } 

        // helper for div to show "Add Notes"
        // (function ($) { $('div[data-placeholder]').on('keydown keypress input', function(e) {
        var elems = document.querySelectorAll('div[data-placeholder]');
        for( var i=0;i<elems.length;i++) {
            elems[i].addEventListener('keydown', handle_keydown);
            elems[i].addEventListener('input', handle_keydown);
            elems[i].setAttribute('data-div-placeholder-content', 'true');
        }
        
        window.onload = function() {
            setTimeout(function() { 
                UISearch.open();
                add_new_note();
            }, 200);
        };
    </script>
</body>
</html>
