<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Pensieve</title>
    
    <link rel="stylesheet" type="text/css" href="static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    
    <script src="static/js/modernizr.custom.js"></script>
    <script src="static/js/masonry.pkgd.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="main clearfix">
            <!-- Optional columns for small components -->
            <header><h1>Pensieve</h1></header>
            <div style="float: right; width: 100%;">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </div>
            <div style="margin-top: 100px;">
                {% if query %}
                <h2>{{ results|length }} search results for {{ query }}</h2>
                {% endif %}
            </div>
        </div>
    </div><!-- /container -->

    <div id="masonry_container">
        {% if results %}
            {% for result in results %}
                <div class="item shadow">
                    {% if results.image == "" %}
                    {% else %}
                    <img src="{{ result.image }}"></img>
                    {% endif %}

                    <div class="headline">{{ result.title }}</div>
                    <div class="text">{{ result.text }}</div>
                    <a href="{{ result.url }}">view original</a>
                    <div class="footer"></div>
                </div>
            {% endfor %}
        {% else %}
        {% endif %}
    </div>

    <script src="static/js/classie.js"></script>
    <script src="static/js/uisearch.js"></script>
    <script>
        UISearch = new UISearch( document.getElementById( 'sb-search' ) );
        setTimeout(function() { UISearch.open(); }, 200);

        var container = document.querySelector('#masonry_container');
        var msnry = new Masonry(container, {
            // options
            columnWidth: 300,
            itemSelector: '.item',

            gutter: 10,
            isFitWidth: true,
        });
    </script>
</body>
</html>
